.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 5px 10px;
  background-color: #1e1b26;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.menu {
  margin-left: 7px;
}
